<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366688350648-q3r7scffgs3mc74pn873o92j2i698o3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366688350648-q3r7scffgs3mc74pn873o92j2i698o3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAwdNj0cFwVwzJbBHXD9hIO4uKRERJTvbE</string>
	<key>GCM_SENDER_ID</key>
	<string>366688350648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladislavShushpanov.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-7dbc0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7dbc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366688350648:ios:b34519d07317ee70139f4d</string>
</dict>
</plist>